*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  background-color: #0f0f12;
  color: #e5e5e5;
}

.app {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

/*Toolbar*/

.tools {
  position: relative;
  padding: 0px;
  background: #1a1a1f;
  border-bottom: 1px solid #2a2a32;
  border-right: 1px solid #2a2a32;
}

.tools-content {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 4px;
  align-items: center;
}

.tools-label {
  font-size: 0.91rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #c4bbbb;
}

.tools select,
.tools button {
  background: #3c3c44;
  color: #ddd4d4;
  border: 2px solid #3a3a44;
  border-radius: 8px;
  padding: 12px 0px;
  margin-bottom: 14px;
  font-size: 0.90rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  width: 144px;
}

.tools button:hover,
.tools select:hover {
  background: #2c2c35;
  border: 2px solid #080808;
}

/*Scene container*/

.content {
  border-bottom: 1px solid #2a2a32;
  overflow: hidden;
}

/*for additional scenes*/
.scene-container {
  position: relative;
  border: 1px solid #2a2a32;
  overflow: hidden;
}

/*Three.js canvas*/
.scene-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
